{% extends 'portal/base.html' %}

{% block title %}Sobre - TechStore{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Sobre a TechStore</h2>
    <p>Bem-vindo ao Sistema de Gerenciamento de Produtos da TechStore!
Este sistema foi desenvolvido para facilitar o cadastro, edição e controle dos produtos da TechStore, garantindo uma gestão eficiente e organizada do nosso catálogo.</p>

<p>Aqui, os colaboradores podem:
    </p>
<p>✅ Cadastrar novos produtos com todas as informações necessárias. </p>
<p>✅ Atualizar detalhes como preço, estoque e descrição.</p>
<p>✅ Gerenciar a disponibilidade dos produtos na loja virtual.</p>
<p>✅ Visualizar relatórios e gráficos dinâmicos para tomada de decisões estratégicas.</p>

<p>Nosso objetivo é tornar o processo de gestão mais ágil e intuitivo, permitindo que a TechStore continue oferecendo tecnologia de ponta com excelência e eficiência.</p>

<p>Caso tenha dúvidas ou precise de suporte, entre em contato com o setor responsável.</p>

<p>🚀 Vamos juntos otimizar a experiência da TechStore!</p>
</div>
{% endblock %}
